.drawerMainContainer {
  text-align: center;
  background-color: rgba(22, 41, 102, 1);
  color: white;
  min-height: 100vh;
  min-width: 180px; /* Applies for all viewport sizes */
}

.appbar {
  background-color: rgba(22, 41, 102, 1);
  height: 100px;
}

.toolbar {
  height: 100%;
  justify-content: space-evenly;
  display: flex;
}

.iconbutton {
  margin-right: 8px; /* Assuming 1 unit of space is equal to 4px */
}

.logoMain {
  width: 200px;
  height: auto;
}

.navItemMain {
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0;
  font-size: 20px; /* Default font size */
}

.searchField {
  display: none; /* Default: hidden on extra small screens */
}

@media (min-width: 0px) {
  .iconbutton {
    display: block;
  }
}

@media (min-width: 600px) {
  .iconbutton {
    display: block;
  }

  .drawerMainContainer {
    min-width: 220px;
  }

  .navItemMain {
    font-size: 22px; /* Medium screens */
  }

  .searchField {
    display: block; /* Displayed on small screens and above */
  }
}

@media (min-width: 768px) {
  .iconbutton {
    display: block;
  }

  .drawerMainContainer {
    min-width: 220px;
  }

  .navItemMain {
    font-size: 22px; /* Small screens */
  }

  .searchField {
    display: block; /* Displayed on small screens and above */
  }
}

@media (min-width: 1024px) {
  .drawerMainContainer {
    min-width: 250px;
  }
}

@media (min-width: 1280px) {
  .iconbutton {
    display: none;
  }

  .drawerMainContainer {
    min-width: 250px;
  }

  .navItemMain {
    font-size: 20px; /* Extra large screens */
  }

  .searchField {
    display: block; /* Displayed on small screens and above */
  }
}

@media (min-width: 1920px) {
  .iconbutton {
    display: none;
  }
}
