@font-face {
  font-family: "Montserrat";
  src: url("/public/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("/public/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Neuropolitical";
  src: url("/public/fonts/neuropolitical\ rg.ttf") format("truetype");
}

body {
  font-family: "Montserrat-Bold";
}

.routerLink {
  text-decoration: none;
  color: white;
}
